body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  box-sizing: border-box;
  font-size: 20px;
  margin: auto;
  max-width: 560px;
  height: 400px;
  padding: 4px;
  overflow-y: auto;
  width: 560px;
}

:root {
  --animation-curve: cubic-bezier(0.27, 0.43, 0.07, 0.87);
  --animation-duration: 160ms;
  --background-color: white;
  --background-color-disabled: #e6e6e6;
  --background-color-hover: #f4f6f6;
  --foreground-color: black;
  --foreground-color-inverted: white;
  --outline-color: #1a9ec7;
  --primary-color: #134f5c;
  --primary-color-disabled: #d0e0e3;
  --primary-color-light: #45818e;
  --shadow-color: #d3d4d9;

  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --animation-curve: cubic-bezier(0.27, 0.43, 0.07, 0.87);
    --animation-duration: 160ms;
    --background-color: #011627;
    --background-color-disabled: #413f45;
    --background-color-hover: #463f3a;
    --foreground-color: white;
    --foreground-color-inverted: black;
    --outline-color: #0077b6;
    --primary-color: #c19bff;
    --primary-color-disabled: #d4bbfc;
    --primary-color-light: #ceafff;
    --shadow-color: #555b6e;
  }
}
