.checkbox {
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  display: grid;
  margin: 4px 4px 3px 4px;
  padding: 0;
  place-content: center;
  height: 20px;
  transition: background-color var(--animation-duration);
  width: 20px;
}

.checkbox::before {
  content: '';
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  width: 12px;
  height: 12px;
  transform: scale(0);
  transition: var(--animation-duration) transform var(--animation-curve);
  box-shadow: inset 12px 12px white;
}

.checkbox:checked::before {
  transform: scale(1);
}

.checkbox:checked {
  background-color: var(--primary-color);
}

.checkbox:focus-visible {
  outline: 2px solid var(--outline-color);
  transition: var(--animation-duration) outline var(--animation-curve);
}
